<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.altaureum.covid.tracking">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.ContactListActivity"
            android:label="@string/contacts_title"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleInstance"
            />

        <activity
            android:name=".ui.activities.RegistryActivity"
            android:label="@string/registry_title"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name=".ui.activities.PermissionsActivity"
            android:label="@string/registry_title"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.REQUEST_LOCATION_PERMISSIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.REQUEST_BLE_ENABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name=".services.server.BLEServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.START_BLE_SERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.RESTART_BLE_SERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.STOP_BLE_SERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.SEND_MESSAGE_SERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.BLE_SERVER_CHECK_STATUS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".services.client.BLEClientServiceLight"
            android:exported="false">
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.START_SCAN_BLE_LIGHT_CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.STOP_SCAN_BLE_LIGHT_CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service android:name=".services.client.BLEClientService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.START_BLE_CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.altaureum.covid.tracking.common.action.STOP_BLE_CLIENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- Start the Service if applicable on boot -->
        <receiver android:name="com.altaureum.covid.tracking.services.boot.BootServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>